<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <title>Title</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="#"><img class="graficlogo" src="../img/logo.png"></a>
    </div>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="../index.html">HOME</a>
            <a href="projects.html">PROJECTS</a>
            <a href="blog.html">BLOG</a>
            <a href="contact.html">CONTACT</a>
            <a href="about.html">ABOUT</a>
            <a href="services.html">SERVICES</a>
            <a href="location.html">LOCATION</a>
            <a href="#" id="menu" class="icon">&#9776;</a>
        </div>
    </nav>
</header>
<main>
    <div id="map">
        <h1>Location</h1>

    </div>
</main>
<footer>
    <nav>
        <a href="../index.html">HOME</a>
        <a href="projects.html">PROJECTS</a>
        <a href="blog.html">BLOG</a>
        <a href="contact.html">CONTACT</a>
        <a href="about.html">ABOUT</a>
        <a href="services.html">SERVICES</a>
        <a href="location.html">LOCATION</a>
    </nav>
    <div class="logo">
        <a href="../index.html"><img src="../img/logo.png" alt="" class="graficlogo"></a>
    </div>
    <div class="social">
        <a href="#"><img src="../img/em.png" alt="Email"></a>
        <a href="#"><img src="../img/face.png" alt="Facebook"></a>
        <a href="#"><img src="../img/goo.png" alt="Google"></a>
        <a href="#"><img src="../img/inst.png" alt="Instagram"></a>
        <a href="#"><img src="../img/pint.png" alt="Pint"></a>
    </div>
    <p>Shishkin Bogdan 2018</p>
</footer>
<script src="../script/common.js"></script>
<script>
    function initMap() {
        var uluru = {lat: 53.8835622, lng: 27.4395483};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5, //масштаб карты
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLYf63qvw9ej1qpJ_q4AhLQZfA7pJjqeM&callback=initMap">
</script>
</body>
</html>














